<!DOCTYPE HTML>
<html>
<head>
  <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
</head>

<body>
  <div id="demoapp">
    <h1>{{heading}}</h1>
    <input v-on:keyup.enter="setTitle" v-model="heading">
  </div>
</body>
<script>

var demoapp = new Vue({
	el: '#demoapp',
	data: {
		heading: 'demo',
		input : '',
	},
	methods: {
		setTitle: function(){
			this.heading = this.input;
		},
	}
})

</script>
</html>