<!DOCTYPE HTML>
<html>
<head>
  <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
</head>

<body>
  <div id="demoapp">
    <h1>{{heading}}</h1>
    <button-counter v-bind:msg="'you clicked'"></button-counter>
  </div>
</body>
<script>

Vue.component('button-counter', {
    props:['msg'],
  data: function () {
    return {
      count: 0
    }
  },
  template: `<button v-on:click="count++">{{ msg }}
     {{ count }} times.</button>`
})
var demoapp = new Vue({
	el: '#demoapp',
	data: {
		heading: 'demo',
		input : '',
	},
	methods: {
		setTitle: function(a){
			this.heading = a.target.value; 
		},
	}
})

</script>
</html>