<!DOCTYPE HTML>
<html>

<head>
  <title>First Vue.js app</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">

  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div id="gallery">

    <h1>{{heading}}</h1>

    <thumbnail v-for="img in gallery" v-bind:image="img" v-bind:key="img.id">
    </thumbnail>
  </div>

  <!--  template image.. -->
  <div id="imgtmpl" class="template">
    <div class="image" image-id="image.id">
      <img src="img.png"
      >
      <ul>
        <li>Filename:<code> {{image.filename}}</code></li>
        <li>stars: <code>{{image.stars}}</code></li>
        <li><a href="#" v-on:click="star()">+1</a></li>
        <li><a href="#" v-on:click="remove()">delete</a></li>
      </ul>
    </div>
  </div>

</body>
<script src="image.js"></script>
<script src="app.js"></script>

</html>