
.image {
    width: auto;
    height:auto;
    float:left;
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    background:white;
}
#gallery{
    height:auto;
}
html, body{
    background-color:lightgrey;
}
.template {
    display: none;
}